:root {
  --main-font: "IBM Plex Sans", sans-serif;
  --body-color: #f6ebfc;
  --dark-purple: #3e0b5b;
  --logo-color: #f2f5cf;
  --logo-focus: #d6d9b1;
  --nav-focus: #dededa;
  --light-text-color: #f9f9f3;
  --icon-color: #e8bde6;
  --icon-focus: #e088dc;
  --light-color: #eee7f1;
  --dark-color: #3a393b;
  --menu-body: #dba2fa;
  --bright-color: #9c04c4;
  --dark-accent: #7c069b;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  background-color: var(--body-color);
}

/**
  |============================
  | HEADER
  |============================
*/
.header {
  background-color: var(--dark-purple);
}

.header-container {
  height: 58px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  font-family: "Concert One", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--logo-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover,
.logo-link:focus {
  color: var(--logo-focus);
}

.navigation {
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: var(--light-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--nav-focus);
}

.cart-icon {
  fill: var(--logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-icon:focus,
.cart-icon:hover {
  fill: var(--logo-focus);
  transform: scale(1.2);
}

/* Media */

@media screen and (max-width: 767px) {
  nav {
    display: none;
  }

  .shop-cart {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 65px;
    padding: 20px;
    display: flex;
    align-items: center;
  }

  .logo-link {
    margin-right: 70px;
    font-size: 26px;
    font-weight: 700;
  }

  .nav-list {
    display: flex;
    gap: 30px;
  }

  .nav-link {
    font-size: 14px;
  }
}

@media screen and (min-width: 1158px) {
  .header-container {
    height: 75px;
    padding: 20px;
    justify-content: none;
  }

  .logo-link {
    margin-right: 70px;

    font-size: 36px;
  }

  .nav-list {
    gap: 40px;
  }

  .nav-link {
    font-size: 16px;
  }
}

/**
  |============================
  | MENU
  |============================
*/

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-icon {
  stroke: var(--light-color);
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 90px 35px 50px 35px;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  background-color: var(--menu-body);
}

.menu-container.is-open {
  transform: translateX(0);
}

.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 25px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-icon {
  width: 16px;
  height: 16px;
  fill: var(--dark-color);
}

.menu-list {
  gap: 40px;
}

.menu-list-item {
  margin-bottom: 25px;
}

.menu-link {
  color: var(--light-text-color);
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.menu-icon {
  fill: var(--light-text-color);
}

.menu-social-list {
  display: flex;
  justify-content: space-around;
}

.menu-icon:focus,
.menu-icon:hover {
  fill: var(--icon-focus);
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

/**
  |============================
  | FOOTER
  |============================
*/

.footer {
  background-color: var(--dark-purple);
  padding: 70px 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.logo-p-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.p-footer {
  color: var(--light-text-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-top: 20px;
}

.phone-addr-container {
  margin-bottom: 40px;
}

.p-a-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.p-a-link {
  color: var(--light-text-color);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.p-a-icon {
  fill: var(--icon-color);
}

.p-a-icon:focus,
.p-a-icon:hover {
  fill: var(--icon-focus);
}

.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.social-list-item {
  display: flex;
  align-items: center;
}

.social-link {
  color: var(--light-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.social-icon {
  fill: var(--icon-color);
}

.social-icon:focus,
.social-icon:hover {
  fill: var(--icon-focus);
}

/* Media */

@media screen and (min-width: 768px) {
  .footer {
    padding: 70px 10px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 584px;
  }

  .logo-p-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 40px;
    margin-right: 10px;
  }

  .p-footer {
    color: var(--light-text-color);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-top: 20px;
  }

  .phone-addr-container {
    margin-bottom: 40px;
  }

  .p-a-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
  }

  .p-a-link {
    color: var(--light-text-color);
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
  }

  .socials-container {
    margin: 0 auto;
  }

  .social-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .social-link {
    color: var(--light-text-color);
    gap: 10px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .p-a-social {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 40px 0;
  }

  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    max-width: 1158px;
    column-gap: 0;
    row-gap: 0;
  }

  .logo-p-container {
    margin-right: 50px;
    margin-bottom: 0px;
  }

  .p-footer {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-top: 20px;
  }

  .phone-addr-container {
    margin-right: 70px;
    margin-bottom: 0px;
  }

  .p-a-list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
  }

  .p-a-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
  }

  .social-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }

  .social-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
  }
}

/**
  |============================
  | ABOUT US PAGE
  |============================
*/

.about-us-section {
  padding: 60px 0 80px 0;
}

.about-header {
  font-size: 26px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-weight: 700;
  margin-bottom: 50px;
  color: var(--dark-purple);
}

.about-text {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-purple);
}
.last-p-about {
  font-weight: 500;
  color: var(--bright-color);
  margin-bottom: 30px;
}

.shop-pic {
  border-radius: 4px;
}

/* Media */

@media screen and (min-width: 768px) {
  .about-us-section {
    padding: 80px 0 100px 0;
  }

  .about-header {
    font-size: 30px;
  }

  .about-text {
    margin-bottom: 20px;
  }

  .last-p-about {
    font-weight: 500;
    color: var(--bright-color);
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1158px) {
  .about-us-section {
    padding: 100px 0 150px 0;
  }

  .about-header {
    font-size: 36px;
  }

  .about-text {
    margin-bottom: 30px;
  }
  .last-p-about {
    margin-bottom: 50px;
  }
}

/**
  |============================
  | CONTACT PAGE
  |============================
*/

.contact-section {
  padding: 110px 0 120px 0;
}

.contacts-info {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.contact-list-item {
  display: flex;
  gap: 10px;
  font-weight: 500;
  font-style: italic;
  color: var(--dark-purple);
  font-size: 22px;
  margin-bottom: 8px;
}

.contact-list-link {
  font-weight: 700;
  color: var(--dark-purple);
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--bright-color);
  transform: scale(1.1);
}

.feedback-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.form-header {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-purple);
  margin-bottom: 10px;
}

.number-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding: 20px;
  outline: transparent;
  border: 1px solid var(--bright-color);
  color: var(--dark-color);
}

.number-input::placeholder {
  color: var(--icon-focus);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.submit-btn {
  height: 41.5px;
  min-width: 100px;
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 0 3px 3px 0;
  background-color: var(--bright-color);
  color: var(--light-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--dark-accent);
}

@media screen and (min-width: 768px) {
  .contact-section {
    padding: 110px 30px 120px 30px;
  }

  .contacts-info {
    margin-bottom: 60px;
  }

  .contact-list-item {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .form-header {
    font-size: 25px;
  }

  .number-input {
    height: 42px;
  }

  .number-input::placeholder {
    font-size: 16px;
  }

  .submit-btn {
    height: 42.5px;
    min-width: 150px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1158px) {
  .contact-section {
    padding: 130px 60px 130px 60px;
  }

  .contacts-info {
    margin-bottom: 70px;
  }

  .contact-list-item {
    font-size: 38px;
    margin-bottom: 12px;
  }

  .form-header {
    font-size: 30px;
  }

  .number-input {
    height: 46px;
  }

  .number-input::placeholder {
    font-size: 20px;
  }

  .submit-btn {
    height: 46.5px;
    min-width: 160px;
    font-size: 20px;
  }
}
