:root {
  --main-font: "IBM Plex Sans", sans-serif;
  --light-color: #f9f9f9;
  --bright-purple: #c886e5;
  --light-purple: #caadde;
  --dark-purple: #a46fbb;
  --accent-purple: #6a097d;
  --yellow: #f6ecbf;
  --dark-color: #1b2430;
  --dark-yellow: #fdf196;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

.not-visible {
  display: none;
}

.visible {
  display: block;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  font-family: var(--main-font);
  background-color: var(--light-color);
}

main {
  flex-grow: 1;
}

/**
  |============================
  | HEADER
  |============================
*/
.header {
  background-color: var(--light-purple);
}

.header-container {
  height: 58px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  font-family: "Concert One", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--yellow);
  text-shadow: 3px 3px 5px rgba(66, 64, 55, 0.8);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover,
.logo-link:focus {
  color: var(--dark-yellow);
}

.navigation {
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: var(--dark-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .link:hover,
.navigation .link:focus,
.nav-link.current {
  transform: translateY(4px);
}

.cart-icon {
  fill: var(--yellow);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-icon:focus,
.cart-icon:hover {
  fill: var(--dark-yellow);
  transform: scale(1.2);
}

/* Media */

@media screen and (max-width: 767px) {
  nav {
    display: none;
  }

  .shop-cart {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 65px;
    padding: 20px;
    display: flex;
    align-items: center;
  }

  .logo-link {
    margin-right: 70px;
    font-size: 26px;
    font-weight: 700;
  }

  .nav-list {
    display: flex;
    gap: 30px;
  }

  .nav-link {
    font-size: 14px;
  }
}

@media screen and (min-width: 1158px) {
  .header-container {
    height: 75px;
    padding: 20px;
    justify-content: none;
  }

  .logo-link {
    margin-right: 70px;

    font-size: 36px;
  }

  .nav-list {
    gap: 40px;
  }

  .nav-link {
    font-size: 16px;
  }
}

/**
  |============================
  | MENU
  |============================
*/

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.header-menu-icon {
  stroke: var(--dark-yellow);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 90px 35px 50px 35px;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  background-color: var(--light-purple);
}

.menu-container.is-open {
  transform: translateX(0);
}

.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 25px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-icon {
  width: 16px;
  height: 16px;
  fill: var(--dark-color);
}

.menu-list {
  gap: 40px;
  margin-bottom: auto;
}

.menu-list-item {
  margin-bottom: 25px;
}

.menu-link {
  color: var(--dark-color);
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.menu-icon {
  fill: var(--light-color);
}

.menu-social-list {
  display: flex;
  justify-content: space-around;
}

.menu-icon:focus,
.menu-icon:hover {
  fill: var(--accent-purple);
  outline: none;
}

@media screen and (min-width: 550px) {
  .menu-link {
    font-size: 26px;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

/**
  |============================
  | FOOTER
  |============================
*/

.footer {
  background-color: var(--light-purple);
  padding: 70px 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.logo-p-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.p-footer {
  color: var(--dark-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-top: 20px;
}

.phone-addr-container {
  margin-bottom: 40px;
}

.p-a-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.p-a-link {
  color: var(--dark-color);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-a-icon {
  fill: var(--dark-yellow);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-a-link:hover,
.p-a-link:focus,
.p-a-icon:focus,
.p-a-icon:hover {
  fill: var(--accent-purple);
  color: var(--accent-purple);
}

.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.social-list-item {
  display: flex;
  align-items: center;
}

.social-link {
  color: var(--dark-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: var(--dark-yellow);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus,
.social-icon:focus,
.social-icon:hover {
  fill: var(--accent-purple);
  color: var(--accent-purple);
}

/* Media */

@media screen and (min-width: 768px) {
  .footer {
    padding: 70px 10px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 584px;
  }

  .logo-p-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 40px;
    margin-right: 10px;
  }

  .p-footer {
    color: var(--light-text-color);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-top: 20px;
  }

  .phone-addr-container {
    margin-bottom: 40px;
  }

  .p-a-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
  }

  .p-a-link {
    color: var(--light-text-color);
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
  }

  .socials-container {
    margin: 0 auto;
  }

  .social-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .social-link {
    color: var(--light-text-color);
    gap: 10px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .p-a-social {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 40px 0;
  }

  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    max-width: 1158px;
    column-gap: 0;
    row-gap: 0;
  }

  .logo-p-container {
    margin-right: 50px;
    margin-bottom: 0px;
  }

  .p-footer {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-top: 20px;
  }

  .phone-addr-container {
    margin-right: 70px;
    margin-bottom: 0px;
  }

  .p-a-list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
  }

  .p-a-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
  }

  .social-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }

  .social-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
  }
}

/**
  |============================
  | ABOUT US PAGE
  |============================
*/

.about-us-section {
  padding: 60px 0 80px 0;
}

.about-header {
  font-size: 26px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-weight: 700;
  margin-bottom: 50px;
  color: var(--dark-color);
}

.about-text {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.last-p-about {
  font-weight: 500;
  color: var(--dark-purple);
  margin-bottom: 30px;
}

.shop-pic {
  border-radius: 4px;
}

/* Media */

@media screen and (min-width: 768px) {
  .about-us-section {
    padding: 80px 0 100px 0;
  }

  .about-header {
    font-size: 30px;
  }

  .about-text {
    margin-bottom: 20px;
  }

  .last-p-about {
    font-weight: 500;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1158px) {
  .about-us-section {
    padding: 100px 0 150px 0;
  }

  .about-header {
    font-size: 36px;
  }

  .about-text {
    margin-bottom: 30px;
  }
  .last-p-about {
    margin-bottom: 50px;
  }
}

/**
  |============================
  | CONTACT PAGE
  |============================
*/

.contact-section {
  padding: 110px 0 120px 0;
}

.contacts-info {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.contact-list-item {
  display: flex;
  gap: 10px;
  font-weight: 500;
  font-style: italic;
  color: var(--dark-color);
  font-size: 22px;
  margin-bottom: 8px;
}

.contact-list-link {
  font-weight: 700;
  color: var(--dark-color);
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--light-purple);
  transform: scale(1.1);
}

.feedback-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.form-header {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 10px;
}

.number-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding: 20px;
  outline: transparent;
  border: 1px solid var(--bright-purple);
  color: var(--dark-color);
}

.number-input::placeholder {
  color: var(--light-purple);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.submit-btn {
  height: 41.5px;
  min-width: 100px;
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 0 3px 3px 0;
  background-color: var(--bright-purple);
  color: var(--light-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--dark-purple);
}

@media screen and (min-width: 768px) {
  .contact-section {
    padding: 110px 30px 120px 30px;
  }

  .contacts-info {
    margin-bottom: 60px;
  }

  .contact-list-item {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .form-header {
    font-size: 25px;
  }

  .number-input {
    height: 42px;
  }

  .number-input::placeholder {
    font-size: 16px;
  }

  .submit-btn {
    height: 42.5px;
    min-width: 150px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1158px) {
  .contact-section {
    padding: 130px 60px 130px 60px;
  }

  .contacts-info {
    margin-bottom: 70px;
  }

  .contact-list-item {
    font-size: 38px;
    margin-bottom: 12px;
  }

  .form-header {
    font-size: 30px;
  }

  .number-input {
    height: 46px;
  }

  .number-input::placeholder {
    font-size: 20px;
  }

  .submit-btn {
    height: 46.5px;
    min-width: 160px;
    font-size: 20px;
  }
}

/**
   |============================
   | Goods PAGE
   |============================
 */

.categories {
  padding: 20px 20px 10px 20px;
  box-shadow: 0 4px 4px -2px rgba(85, 57, 91, 0.5);
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 10px;
  font-size: 14px;
  font-weight: bolder;
  color: var(--dark-color);
}

.categories-list li:hover,
.categories-list li:focus {
  transform: scale(1.1);
  cursor: pointer;
  color: var(--accent-purple);
}

.categ-container {
  padding: 20px;
}

@media screen and (min-width: 1158px) {
  .categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 10px;
    font-size: 16px;
    font-weight: bolder;
    color: var(--dark-color);
  }
}

.categ-container img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.nike-white-img {
  width: 180px;
}

.categ-container li {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  padding-bottom: 8px;
  padding-top: 8px;
  box-shadow: 0px 6px 7px 0px rgba(146, 130, 163, 0.4);
}

.goods-name-heading {
  font-size: 16px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  z-index: 1;
  background-color: var(--light-color);
}

.goods-name-heading::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 50%;
  width: 100vw;
  height: 1px;
  background-color: var(--bright-purple);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.goods-name-heading::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  width: 100vw;
  height: 1px;
  background-color: var(--bright-purple);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.goods-name-p {
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
}

.categ-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .categ-container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
  }

  .goods-name-heading {
    padding-left: 40px;
  }
}

@media screen and (min-width: 890px) {
  .categ-container {
    padding: 20px 30px;
  }
  .categ-container ul {
    justify-content: flex-start;
    column-gap: 40px;
    row-gap: 30px;
  }
}

@media screen and (min-width: 1158px) {
  .categ-container {
    padding: 20px 30px;
  }

  .goods-name-heading {
    font-size: 17px;
  }

  .categ-container ul {
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .categ-container {
    padding: 20px 40px;
  }

  .goods-name-heading {
    font-size: 18px;
  }

  .categ-container ul {
    justify-content: center;
    column-gap: 50px;
    row-gap: 40px;
    margin-bottom: 30px;
  }
}
